body
{   
    background-image: url("../../img/lnt/poke_center_bridge_background.jpg");
    background-size: 100%;
    background-position: 0px -552px;  
    background-attachment: fixed;        
}
#mid
{ 
    background: rgba(250, 102, 255, 0.5);
    border: solid rgb(248, 28, 94) 25px;  
    width:25%;  
    border-radius: 50px;  
    margin: 120px auto;    
    padding: 50px;

    user-select: none;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0,0,0);
    text-align: center;
}
#footer
{
    position: fixed;
    left: 10px;
    bottom: 10px;
}
