body
{   
    background: url("../../img/lnt/profile_page_background.gif") no-repeat center center fixed;
    background-size: 100% 100%;       
}
#header
{
    font-size: 50px;
    color: rgb(0, 204, 255);
    text-shadow: 2px 2px rgb(0,0,0);
}
#mid
{ 
    background: rgba(63, 146, 255, 0.75);
    border: solid rgb(87, 28, 248) 25px;
    width: 25%;  
    border-radius: 50px;
    margin: 240px auto;        
    padding: 50px;

    user-select: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#logo
{
    position: fixed;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%; 
}
#audio
{
    position: fixed;
    bottom: 1%;
}
.dataName
{
    font-size: 40px;
    color: rgb(255, 123, 0);
    text-shadow: 2px 2px rgb(0,0,0);
}
.dataInfo
{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(0,0,0);
}
