body
{   
    background-image: radial-gradient(circle, rgb(0,225,255) 50%, rgb(0, 140, 255) 100%);          
}

#header
{
    pointer-events: none;
}
#logo
{
    z-index: 1;
    width: 600px;
    height: auto;
}
  
#form
{  
    background: rgb(250, 102, 255);
    border: solid rgb(248, 28, 94) 25px;  
    width:25%;  
    border-radius: 50px;  
    margin: 120px auto;    
    padding: 50px;  
}  
#submit
{    
    background: #1190ff;
    border-radius: 20px;  
    padding: 7px; 
} 
