body
{      
    background: url("../../img/lnt/checkout_background.gif") no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;
    color:rgb(255, 95, 95);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#logo
{
    position: absolute;
    left: 0.4%;
    top: 0.8%;
    width: 20%; 
}
#checkout
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0.8%;
    width: 25%; 
}
#back_to_cart
{
    position: fixed;
    margin-left: 0.5%;
    bottom: 0.8%;
    width: 20%; 
}
#sleeping_skitty
{
    width: 100%; 
}
#clefairy
{
    width: 109%; 
}
#sleeping_skitty, #clefairy, #label
{
    pointer-events: none;
}
#address, #payment
{
    background-color: rgb(255, 211, 226);
    border: 5px solid rgb(255, 95, 175);
    border-radius: 20px;
}
#clefairyLink
{
    padding-right: 5%;
}
.link
{
    background-color: rgb(255, 193, 213);
    border: 5px solid rgb(255, 95, 175);
    border-radius: 20px;
    margin-top: 10%;
    padding-top: 10%;
    text-align: center;
    display: inline-block;
    width: 90%;
    font-size: 30px;
}
.link:hover
{
    background-color: rgb(255, 221, 233);
}
.link:active
{
    background-color: rgb(255, 163, 171);
}
input
{
    margin: 10px;
}
table,tr,th,td
{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align:center;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
}
input[type = submit]
{
    background-color: rgb(255, 160, 184);
    border: 2px solid #ff0055;
    border-radius: 15px;
    outline: none;
    box-shadow: 2px 2px 2px black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0.8%;
    width: 20%; 
}
input[type = submit]:hover 
{
    background-color: rgb(255, 191, 207);
}
input[type = submit]:active 
{
    box-shadow: 3px 3px 3px white;
}
a:link, a:visited
{
    color:rgb(255, 95, 95);
    text-decoration: none;
}