body
{      
    background: url("../../img/lnt/inventory_background.gif") no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;
}
#logo
{
    position: fixed;
    left: 0.4%;
    top: 0.4%;
    width: 15%; 
    z-index: 2;
}
#cart
{
    position: fixed;
    right: 1%;
    top: 0.8%;
    width: 8%; 
    z-index: 2;
}
#wishlist
{
    position: fixed;
    right: 10%;
    top: 1%;
    width: 11%; 
    z-index: 2;
}
#search, #filter
{
    position: fixed;
    top: 3.5%;
    margin-left: auto;
    margin-right: auto;
}
#search
{
    left: 33%;
    width: 30%;
}
#filter
{
    left: 64%;
}
#scrollbar
{
    overflow: hidden;
    background-color: rgb(60, 101, 139);
    position: fixed;
    top: 0; 
    width: 100%;
    height: 10%;
}
/*
#form
{
    margin: 12.5% auto;
}
*/
table
{
    background-color: white;   
    margin-top: 3%; 
    margin-left: auto;
    margin-right: auto;
}
table,tr,th,td
{ 
    width: 1250px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 15px;
}



