
h1
{
    width: 30%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}
body
{      
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../img/inventory/pixelstore.gif"); 
    background-size: 100%;
    background-attachment: fixed;
}
table
{
    background-color: white;     
}
table,tr,th,td
{
    border: 1px solid black;
}
.ShoppingCart 
{
    width: 30%;
    position: fixed; 
    right: 0;
    padding-right: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
}
