h1
{
    width: 30%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}
body
{      
    background: url("../../img/lnt/inventory_background.gif") no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;
}
#logo
{
    position: absolute;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%; 
}
#cart
{
    position: fixed;
    right: 1%;
    top: 0.8%;
    width: 8%; 
}
#wishlist
{
    position: fixed;
    right: 10%;
    top: 1%;
    width: 11%; 
}
#search, #filter
{
    position: absolute;
    top: 24%;
    margin-left: auto;
    margin-right: auto;
}
#search
{
    left: 33%;
    width: 30%;
}
#filter
{
    left: 64%;
}
/*
#form
{
    margin: 12.5% auto;
}
*/
table
{
    background-color: white;    
    margin-top: 10%; 
    margin-left: auto;
    margin-right: auto;
}
table,tr,th,td
{
    
    width: 1250px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 15px;
}



