body
{      
    background:  linear-gradient(rgba(122, 122, 122, 0.2), rgba(122, 122, 122, 0.2)), url("../../img/lnt/employee_inventory_background.gif") no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;
}
#form
{
    margin: 11% auto;
}
#logo
{
    position: fixed;
    left: 0.4%;
    top: 0.4%;
    width: 15%; 
    z-index: 2;
}
#employee_inventory
{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 25.5%;
    width: 50%; 
}
#search, #filter
{
    position: fixed;
    top: 3.5%;
    margin-left: auto;
    margin-right: auto;
}
#search
{
    left: 33%;
    width: 33.5%;
}
#filter
{
    left: 67.5%;
    top: 4.5%;
}
#addButton
{
    position: fixed;
    top: 4.5%;
    margin-left: 79%;
    margin-right: auto;
    z-index: 2;
}
#deleteButton
{
    position: fixed;
    top: 4.5%;
    margin-left: 84%;
    margin-right: auto;
    z-index: 2;
}
#updateButton
{
    position: fixed;
    top: 4.5%;
    margin-left: 90.205%;
    margin-right: auto;
    z-index: 2;
}
#scrollbar
{
    overflow: hidden;
    background-color: rgb(60, 101, 139);
    position: fixed;
    top: 0; 
    width: 100%;
    height: 10%;
    left: 0%;
    top: 0%;
    border-bottom: 5px solid rgb(42, 71, 99);
}

/* The Modal (background) */
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Modal Content */
.modal-content 
{
    background-color: #7ad5ff;
    margin: 5% auto;
    padding: 20px;
    border: 10px solid rgb(92, 81, 255);
    border-radius: 20px;
    width: 80%;
}

/* The Close Button */
.close 
{
    color: #3642ee;
    float: right;
    font-size: 50px;
    font-weight: bold;
}
.close:hover, .close:focus 
{
    color: rgb(61, 139, 255);
    text-decoration: none;
    cursor: pointer;
}
.close:active
{
    color: rgb(151, 175, 255);
}
h1
{
    color: white;
}
table
{
    background-color: rgb(53, 191, 255);  
    margin-top: 3%; 
    margin-left: auto;
    margin-right: auto;
    padding: 1.5%;
    border: 5px solid rgb(72, 115, 255);
    white-space: nowrap;
}
tr,th,td
{
    background-color: rgb(109, 247, 252);
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
table,tr,th,td
{ 
    width: 1250px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}
input[type = text], input[type = number], input[type = date], select
{
    background-color: rgb(164, 237, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    
}
input[type = search]
{
    background-image: url("../../img/lnt/search_icon.png");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 12px 5px;
    margin: 8px 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    padding: 0.3% 0% 0.25% 2%;
    font-size: 16px;
    width: 100%;
}
input[type = search]:focus
{
    background-color: rgb(137, 231, 255);
}
input[type = submit], button
{
    background-color: aqua;
    border: 2px solid #00a2ff;
    border-radius: 15px;
    outline: none;
    box-shadow: 2px 2px 2px black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
input[type = submit]:hover, button:hover
{
    background-color: rgb(79, 234, 255);
}
input[type = submit]:active, button:active
{
    box-shadow: 3px 3px 3px white;
}