body
{   
    background: url("../../img/lnt/employee_profile_background.gif") no-repeat center center fixed;
    background-size: 100% 100%;       
}
#header
{
    font-size: 60px;
    color: rgb(0, 238, 255);
    text-shadow: 2px 2px rgb(0,0,0);
}
#mid
{ 
    background: rgba(129, 183, 255, 0.9);
    border: solid rgb(28, 142, 248) 25px;
    border-radius: 50px;
    margin: 12.5% auto;        
    padding: 50px;
    width: 25%;  

    user-select: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#logo
{
    position: fixed;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%; 
}
#audio
{
    position: fixed;
    bottom: 1%;
}
.dataName
{
    font-size: 40px;
    color: rgb(73, 106, 255);
    text-shadow: 2px 2px rgb(0,0,0);
}
.dataInfo
{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
