body
{   
    background: url("../../img/lnt/user_control_panel_background.gif") no-repeat center center fixed;
    background-size: 100% 100%;         
}
#logo
{
    position: absolute;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%; 
}
#header, #header1
{
    text-align: center;
}
#form
{  
    background: rgba(102, 168, 255, 0.9);
    border: solid rgb(248, 28, 94) 25px;  
    border-radius: 50px;  
    margin: 18.31% auto;    
    padding: 50px;  
    width: 65%; 
    font-family: 'Courier New', Courier, monospace;
}
#audio
{
    position: fixed;
    bottom: 1%;
}
input[type = submit]
{
    background-color: rgb(255, 133, 164);
    border: 2px solid #ff0055;
    border-radius: 15px;
    outline: none;
    box-shadow: 2px 2px 2px black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
input[type = submit]:hover 
{
    background-color: rgb(241, 179, 195);
}
input[type = submit]:active 
{
    box-shadow: 3px 3px 3px white;
}
input[type = text], input[type = number], input[type = date], input[type = email], input[type = tel], select  
{
    border: 2px solid rgb(255, 0, 85);
    border-radius: 10px;
}
input[type = search]
{
    background-image: url("../../img/lnt/search_icon.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 12px 4.25px;
    margin: 8px 0;
    border: 2px solid orange;
    border-radius: 50px;
    padding: 0.87% 5% 0.67% 5%;
    font-size: 16px;
    width: 100%;
}
input[type = text]:focus, input[type = search]:focus, input[type = number]:focus, input[type = date]:focus, input[type = email]:focus, input[type = tel]:focus, select:focus 
{
    background-color: #76E8AF;
}
.displayInfo
{
    margin-left: 20%;
}
.enterInfo
{
    margin-left: 5%;
}