body
{   
    background-image: radial-gradient(circle, rgb(0,225,255) 50%, rgb(0, 140, 255) 100%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;          
}
#mid
{
    pointer-events: none;
    user-select: none;
}
#logo
{
    pointer-events: all;
    z-index: 2;
    position: absolute;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%;
}
#tree1
{
    z-index: 3;
    transform: scaleX(-1);
    height: 100%;
    position: fixed;
    left: -15%;
    bottom: -20.5%;
}
#tree2
{
    z-index: 3;
    height: 100%;
    position: fixed;
    right: -15%;
    bottom: -20.5%;
}
#clouds1
{
    z-index: 0;
    transform: scaleX(-1);
    position: absolute;
    left: 30%;
    top: 5%;
    width: 15%;
}
#clouds2
{
    z-index: 0;
    position: absolute;
    left: 47.5%;
    top: 14%;
    width: 15%;
} 
#clouds3
{
    z-index: 0;
    position: absolute;
    left: 62.5%;
    top: 7.5%;
    width: 15%;
}
#clouds4
{
    z-index: 0;
    position: absolute;
    left: 77.5%;
    top: 3%;
    width: 15%;
}
#clouds5
{
    z-index: -1;
    transform: scaleX(-1);
    position: absolute;
    left: 2.5%;
    top: 5.5%;
    width: 25%;
}
#bulbasaur
{
    z-index: 1;
    transform: scaleX(-1);
    position: absolute;
    left: 34%;
    top: 7.12%;
    width: 15.75%;
}   
#form
{  
    background: rgb(0, 247, 255);
    border: solid rgb(13, 134, 128) 25px;
    border-radius: 50px;  
    margin: 18.31% auto;    
    padding: 50px;  
    width: 32%;  
}
h1,h3
{
    text-align: center;
}
em
{
    font-size: 12px;
}  
input[type = submit], #link
{
    background-color: rgb(0, 204, 255);
    border: 2px solid #0077ff;
    border-radius: 15px;
    outline: none;
    box-shadow: 2px 2px 2px black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#link
{
    font-size: 12.5px;
}
input[type = submit]:hover, #link:hover 
{
    background-color: rgb(79, 234, 255);
}
input[type = submit]:active, #link:active 
{
    box-shadow: 3px 3px 3px white;
}
input[type = text], input[type = password], input[type = date], input[type = email], input[type = tel], select  
{
    margin: 8px 0;
    border: 2px solid orange;
    border-radius: 50px;
}
input[type = text]:focus, input[type = password]:focus, input[type = date]:focus, input[type = email]:focus, input[type = tel]:focus, select:focus 
{
    background-color: #76E8AF;
}
a:link, a:visited
{
    color: black;
    text-decoration: none;
}