body
{   
    background: url("../../img/lnt/home_page_background.gif") no-repeat center center fixed;
    background-size: 100% 100%;          
}
#mid
{ 
    user-select: none;
    position: fixed;
    left: 2%;
    top: 25%;
    font-size: 175px;
    font-family:monospace;
    font-weight: bold;
    color: rgb(0, 255, 255);
    text-shadow: 3px 3px rgb(0, 0, 0);
    text-align: center;
}
#sidebar
{
    background-color: rgba(0, 255, 255, 0.5);
    border: solid rgb(32, 32, 32) 0.75vw;
    border-radius: 50px;
    padding-block: 1%;
    padding-inline: 1.5%;
    position: fixed;
    right: -2.5%;
    top: 12.5%;
    height: 75%;
    width: 12%;
}
#logo
{
    position: fixed;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%; 
}
#welcome
{
    position: fixed;
    left: 28%;
    top: 28%;
    width: 37.5%; 
}
#home
{
    width: 61.5%;
}
#login
{
    width: 70%;
}
#register
{
    width: 70%;
}
#profile
{
    width: 70%;
}
#employee_hub
{
    width: 95%;
}
#logout
{
    width: 80%;
}
#shop
{
    width: 55%;
}
#faq
{
    width: 42.5%;
}
#about_us
{
    width: 90%;
}
#poke_ball
{
    pointer-events: none;
    position: fixed;
    bottom: -5%;
    right: 5%;
    width: 27.5%;
}
#audio
{
    position: fixed;
    bottom: 1%;
}
