body
{   
    background-image: url("../../img/lnt/poke_mart_background.jpg");
    background-size: 100%;
    background-position: 0px -212px;          
}
#mid
{ 
    position: fixed;
    left: -10px;
    top: 250px;
    font-size: 190px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0,0,0);
    text-align: center;
}
#sidebar
{
    height: 1000px;
    width: 200px;
    background-color: rgba(0, 255, 255, 0.5);
    background-blend-mode: luminosity;
    position: fixed;
    right: 0px;
    top: 0px;
}
