body
{   
    background-image: url("../../img/lnt/poke_mart_background.jpg");
    background-size: 100%;
    background-position: 0px -212px;          
}

#mid
{ 
    user-select: none;
    position: fixed;
    left: -10px;
    top: 250px;
    font-size: 190px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0, 0, 0);
    text-align: center;
}
#sidebar
{
    height: 1000px;
    width: 200px;
    background-color: rgba(0, 255, 255, 0.5);
    background-blend-mode: luminosity;
    border-left: solid rgb(32, 32, 32) 12px;
    position: fixed;
    right: 0px;
    top: 0px;
}
#footer
{
    position: fixed;
    left: 10px;
    bottom: 10px;
}

#poke_ball
{
    position: fixed;
    bottom: -50px;
    right: 100px;
    width: 500px;
    height: auto;
}

.link
{
    position: fixed;
    left: 1736px;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px rgb(0, 255, 255);
}

a:link, a:visited, a:hover, a:active
{ 
    color: black;
    text-decoration: none; 
}
