body
{   
    background: url("../../img/lnt/about_us_background.png") no-repeat center center fixed;
    background-size: 100% 100%;          
}
#mid
{ 
    user-select: none;
    position: fixed;
    left: 500px;
    top: 250px;
    font-size: 190px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(0,0,0);
    text-align: center;
}
#logo
{
    position: fixed;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%; 
}
#audio
{
    position: fixed;
    bottom: 1%;
}
