body
{      
    background: url("../../img/card/bgrnd.jpg") no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;
}
#logo
{
    position: absolute;
    left: 0.2%;
    top: 0.5%;
    width: 25%; 
}
#cards
{
    position: center;
    background-color: rgb(181, 208, 255);  
    border-radius: 8px;
    padding: 5px;
    height: auto;
    width: 35%;
}
