body
{      
    background: url("../../img/lnt/add_card_background.gif") no-repeat; 
    background-size: 100% 100%;
    background-attachment: fixed;
}
#logo
{
    position: absolute;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%;
}
#cards
{
    position: center;
    margin-top: 15%;
    background-color: rgb(181, 208, 255);  
    border: solid rgb(87, 28, 248) 10px;
    border-radius: 50px;
    padding: 5px;
    height: auto;
    width: 35%;
}
