body
{   
    background: url("../../img/lnt/faq_page_background.gif") no-repeat center center fixed;
    background-size: 100% 100%;          
}
h1
{
    font-size: 100px;
    color: rgb(0, 184, 92);
}
label
{
    font-size: 50px;
    color: rgb(255, 0, 98);
}
#mid
{ 
    background: rgba(165, 255, 63, 0.9);
    border: solid rgb(0, 168, 154) 25px;
    border-radius: 50px;
    margin: 17% auto;        
    padding: 50px;
    width: 50%;  

    user-select: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 3px 3px rgb(0,0,0);
}
#logo
{
    position: absolute;
    left: 0.4%;
    top: 0.8%;
    width: 27.25%; 
}
#audio
{
    position: fixed;
    bottom: 1%;
}
